
.slick-slider{
    height: 85%;
}
.slick-list{
    height: 100%;
}

.slick-track{
    height: 100%;

}
.slick-slide,
.slick-slide > div,
.slick-slide > div > div{
    height: 100%;
}

.slick-arrow::before{
    content:"";
    display: none;
}
.slick-arrow{
    top: 59%;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 0.4;
    transition: opacity 0.1s linear;
    svg {
        width: 100%;
        height: 100%;
    }
    &:hover{
        transition: opacity 0.1s linear;
        opacity: 1;
    }
}

.slick-prev{
    text-align: center;
    // left: -4rem;
    left: 2rem;
}

.slick-next{
    text-align: center;
    // right: -4rem;
    right: 2rem;
}

.slick-dots,
.slick-thumb{
    position: relative !important;
    bottom: 0;
    margin-top: 0.5rem;
    height: 15%;
    padding: 0rem 0.3rem;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
    li {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        button{
            width: 100%;
            height: 100%;
        }
        &.slick-active .MuiTypography-root{
            border-width: 7px;
            transition: border-width 0.1s linear;
        }
    }
}
